<style>
  .btn-search {
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem;
  }

  .btn-search:hover {
    background-color: #fe424d;
    color: white;
  }

  .search-input {
    border-radius: 25px;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  @media (max-width: 768px) {
    .search-form {
      margin-top: 10px;
    }
  }
</style>

<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">
  <div class="container-fluid">

    <!-- Logo -->
    <a class="navbar-brand fw-bold" href="/listings">
      <i class="fa-solid fa-compass text-danger"></i> TanRoam
    </a>

    <!-- Toggle -->
    <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible -->
    <div class="collapse navbar-collapse" id="navbarNav">

      <!-- Left side -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listings">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Add new Listing</a>
        </li>
      </ul>

      <!-- Center Search -->
      <form class="d-flex search-form mx-auto my-2 my-md-0" role="search">
        <input class="form-control me-2 search-input"
          type="search"
          placeholder="Search destinations">
        <button class="btn btn-search" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <!-- Right side -->
      <ul class="navbar-nav">
        <% if (!currUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/signup"><b>Sign up</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><b>Log in</b></a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/logout"><b>Log out</b></a>
          </li>
        <% } %>
      </ul>

    </div>
  </div>
</nav>